{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Main Page</title>{% endblock %}

{% block styles %}

 <!-- Bootstrap core CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
{% endblock %}

{% block navbar %}

{% if user.is_authenticated %}


   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PupsToPet</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'createpet' %}">Add a Pet</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'createevent' %}">Add an Event</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'findevent' %}">Search for Specific Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>

      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Update Your Personal Info</a>
          <a class="dropdown-item" href="#">Delete Your Account</a>
          <a class="dropdown-item" href="#">Change Password</a>
          <a class="dropdown-item" href="#">About PupsToPet</a>
	  
        </div>
      </li>

    </ul>
  </div>
</nav>




{% else %}



   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PupsToPet</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About PupsToPet</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'createaccount' %}">Create An Account<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'findevent' %}">Find Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

    </ul>
  </div>
</nav>

{% endif %}

{% endblock %}

{% block content %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



<div id="index-page-content"> <!-- COMMENT: index-page-content is really just the about page--->
    <!-- <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBYB8_cGZklsYTdCQNga90YNrCsX3-NnDE
        &center=42.391138,-72.526812
        &zoom=14
        &maptype=satellite" allowfullscreen>
    </iframe> -->
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: new google.maps.LatLng(42.391138,-72.526812),
                mapTypeId: 'satellite'
                });

            var iconBase = "{% static 'images/' %}";
            // var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
            var icons = {
                pupper: {
                    icon: iconBase + 'pupClipArt.png'
                },
            // 	parking: {
            // 		icon: iconBase + 'parking_lot_maps.png'
            // 	},
            // 	library: {
            // 		icon: iconBase + 'library_maps.png'
            // 	},
            // 	info: {
            // 		icon: iconBase + 'info-i_maps.png'
            // 	}
            };

            // var features = [
            //     {% for event in events %}
            //         {
            //             position: new google.maps.LatLng({{ event.location }}),
            //             type: 'pupper'
            //         },  
            //     {% endfor %}
            // ];
            // Create markers.
            // features.forEach(function(feature) {
            var infowindow = new google.maps.InfoWindow();
            {% for event in events %}
                var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ event.location }}),
                icon: icons['pupper'].icon,
                map: map
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent('<div><strong>' + '{{ event.name }}' + '</strong><br>' + 'Host: ' + '{{ event.host }}' + '<br>Starts:' + '{{ event.start_time }}' + '<br>' + 'Ends:{{ event.end_time }}' + '<br>Description:<br>' + '{{ event.description }}' + '</div>');
                    infowindow.open(map, this);
                });
            {% endfor %}
            // });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQgbR5jdBj36wI9-6SpCOpaBr-Rj14L70&callback=initMap">
    </script>

    <h2>Welcome to PupsToPet!</h2>
    <br>
    <h3>What we do</h3>
    <a href="images/1.jpg"><img src="{% static 'images/1.jpg' %}"></a>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac sapien diam. Vestibulum viverra nulla sed egestas vehicula. Praesent sed diam sem. Sed porttitor, massa nec tempor accumsan, velit tellus pulvinar massa, ac vestibulum velit purus vitae odio. Quisque eget nulla lobortis, consequat urna quis, sollicitudin elit. Mauris convallis, leo id commodo pulvinar, lorem tellus varius nisi, non suscipit metus velit non velit. Nulla at tincidunt lorem. Vestibulum id ligula lectus. Praesent varius arcu ut quam tincidunt rhoncus. Fusce erat nunc, tincidunt id accumsan sit amet, fringilla in est. Curabitur laoreet tortor sit amet vulputate aliquet. Cras ac tellus dapibus, mattis nisl sed, varius nisi. Vestibulum tempor, ligula et iaculis porta, dui elit rhoncus mi, vitae sagittis sem orci ultricies metus. Aliquam et nulla nec enim rutrum fringilla.
    </p>
    <br>
    <h3>How it works</h3>
    <a href="images/2.jpg"><img src="{% static 'images/2.jpg' %}"></a>
    <p>
        Praesent dapibus tristique consequat. Proin sed fringilla lacus, vel vestibulum lectus. Duis ultrices et lacus nec cursus. Donec a tortor ultrices dolor accumsan bibendum in sit amet ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc consequat diam ut felis cursus tincidunt vel sit amet lacus. Morbi aliquam sed nunc tempor dignissim. In hac habitasse platea dictumst. Integer tempus, orci quis vehicula pretium, magna est pulvinar massa, non ullamcorper magna felis ut elit.
    </p>
    <br>
    <h3>Why</h3>
    <a href="images/3.jpg"><img src="{% static 'images/3.jpg' %}"></a>
    <p>
        Nunc felis nibh, placerat at neque id, commodo finibus justo. Mauris sed justo fringilla, iaculis lorem in, molestie nibh. In eu elementum mauris. Praesent augue mi, scelerisque quis dui id, pellentesque dapibus felis. Mauris sed sodales risus. Phasellus rutrum velit eu dui fringilla, sed auctor dui ultricies. Fusce mollis, diam non tempus sagittis, tortor quam ornare tortor, ac aliquet augue dolor at magna. Nunc volutpat quis orci a rutrum. Cras sit amet sapien molestie, semper justo vel, rhoncus enim. Etiam vestibulum tristique ex, eget hendrerit felis vehicula vitae. Mauris non diam non augue faucibus tristique sed sit amet odio. Phasellus tristique aliquam purus quis porttitor.
    </p>
    <br>
    <h3>How can you contribute</h3>
    <a href="images/4.jpg"><img src="{% static 'images/4.jpg' %}"></a>
    <p>
        Donec lacinia nibh in laoreet viverra. Etiam suscipit vehicula sapien et egestas. Nam non vestibulum leo. Aliquam eget viverra justo. Suspendisse vitae ultrices turpis. Vivamus auctor imperdiet nunc, sit amet volutpat quam efficitur non. Morbi at lobortis neque, nec suscipit purus. Curabitur sed nulla elementum, sagittis sapien non, pharetra eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ac neque ut nibh bibendum pretium.
    </p>
    <br>
    <h3>Wee!</h3>
    <a href="images/5.jpg"><img src="{% static 'images/5.jpg' %}"></a>
    <p>
        Nullam molestie fringilla diam at rhoncus. Donec in ultrices lorem. Cras nec risus sed mi blandit pretium. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur mattis sollicitudin ante id blandit. Nam ac cursus tellus, nec feugiat magna. In rhoncus, neque sit amet ullamcorper volutpat, sem purus ultricies leo, in varius sem risus vel nulla. Integer porta sodales sem et consequat. Maecenas mi ligula, maximus et tellus in, faucibus fermentum dui. Nam mollis nec leo at euismod. Nullam et tortor eleifend, eleifend libero non, tempus massa. Aenean euismod ipsum purus, at finibus ipsum gravida vel.
    </p>
</div>
{% endblock %}
