{% extends "base_generic.html" %} 
{% load static %} 

{% block title %}<title>PupsToPet | Create Event</title>{% endblock %} 

{% block navbar %}
<a href="{% url 'logout' %}?next={% url 'about' %}">
    <button>
        &#x1F43E; Log Out &#x1F43E;
    </button>
</a>
<a href="{% url 'userinfo' %}">
    <button>
        &#x1F43E; Account Settings &#x1F43E;
    </button>
</a>
<a href="{% url 'findevent' %}">
    <button>
        &#x1F43E; Find Event &#x1F43E;
    </button>
</a>
<a href="{% url 'dashboard' %}">
    <button>
        &#x1F43E; Dashboard &#x1F43E;
    </button>
</a>
{% endblock %} 


{% block content %}
<div id="create-pet-page">
    <div class="login-modal" style="height:100%;width:70%">
        <form action = "" method = "post">
            {% csrf_token %}
            <h2>Add your pet!</h2>
            <table>
                {{ form }}
            </table>
            
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>
{% endblock %}



