{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Create Account</title>{% endblock %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/thao-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/validation.css' %}">
<link type="text/javascript" href="{% static 'javascript/validation.js' %}">


<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karma" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a href="{% url 'login' %}?next={% url 'dashboard' %}">
  <button>
    &#x1F43E; Log In &#x1F43E;
  </button>
</a>
<a href="{% url 'findevent' %}">
  <button>
    &#x1F43E; Find Event &#x1F43E;
  </button>
</a>
<a href="{% url 'dashboard' %}">
  <button>
    &#x1F43E; Dashboard &#x1F43E;
  </button>
</a>
{% endblock %}

{% block content %}
<div style="height:100%" class="designing-forms">
  <form form action="/" method="post" >
    <legend><center>Account Creation</center></legend>
    <div>
      <label for="username"><strong>Create a username</strong> (at least 7 characters)</label>
      <input type="text" id="username" name="username" required minlength="7">
    </div>
    <div>
      <label for="firstname"><strong>First Name</strong> (at least 2 characters)</label>
      <input type="text" id="firstname" name="fname" required minlength="2">
    </div>

    <div>
      <label for="lastname"><strong>Last Name</strong> (at least 2 characters)</label>
      <input type="text" id="lastname" name="lname" required minlength="2">
    </div>


    <div>
      <label for="pwd1"><strong>Password</strong> (at least 7 characters, have upper and/or lowercase letters, and at least 1 number)</label>

      <input type="password" id="pwd1" name="pwd1" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

    </div>
    <div>
      <label for="pwd2"><strong>Confirm Password</strong></label>
      <input type="password" id="pwd2" name="pwd2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}";><span id="message">
    </div>

    <div>
      <label for="email"><strong>Enter a Valid Email</strong></label>
      <input type="email" id="email" name="email" required>
    </div>

    <div>
      <label for="vemail"><strong>Confirm Your Email</strong></label>
      <input type="email" id="vemail" name="vemail" required>
    </div>

    <!--Submit button-->
    <div>
      <input type="submit">
    </div>

  </form>
</div>


<!-- <script>

$('#pwd1, #pwd2').on('keyup', function () {
    if ($('#pwd1').val() == $('#pwd2').val()) {
        $('#message').html('Matching').css('color', 'green');
    } else
        $('#message').html('Not Matching').css('color', 'red');
});

</script> -->

{% endblock %}
