{% extends "base_generic.html" %}
{% load static %}

{% block navbar %}

<a href="{% url 'login' %}">
  <button>
    &#x1F43E; Login &#x1F43E;
  </button>
</a>
<a href="{% url 'createaccount' %}">
  <button>
    &#x1F43E; Create Account &#x1F43E;
  </button>
</a>
<a href="{% url 'findevent' %}">
  <button>
    &#x1F43E; Find Event &#x1F43E;
  </button>
</a>
<a href="{% url 'dashboard' %}">
  <button>
    &#x1F43E; Dashboard &#x1F43E;
  </button>
</a>

{% endblock %}




{% block content %}

<div class='login-modal'>
  <h1>Success!<br>Your password has been changed!</h1>
  <p><a href="{% url 'login' %}">Back to login page?</a></p>
</div>

{% endblock %}
