{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | User Info</title>{% endblock %}

{% block styles %}
<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/thao-style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karma" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a href="{% url 'logout' %}?next={% url 'about' %}">
  <button>
    &#x1F43E; Log Out &#x1F43E;
  </button>
</a>
<a href="{% url 'createevent' %}">
  <button>
    &#x1F43E; Create Event &#x1F43E;
  </button>
</a>
<a href="{% url 'findevent' %}">
  <button>
    &#x1F43E; Find Event &#x1F43E;
  </button>
</a>
<a href="{% url 'dashboard' %}">
  <button>
    &#x1F43E; Dashboard &#x1F43E;
  </button>
</a>
{% endblock %}

{% block content %}
<div class="designing-forms">
  <form action="/" method="post">
    <h2 style="padding-top: 20px">User Information</h2>

    <div>
      <label for="username">Username: </label>
      <input class="form-control" id="username" type="text" name="Username">
    </div>

    <div>
      <label for="first_name"><strong>First Name</strong> (at least 2 characters)</label>
      <input type="text" id="first_name" name="first_name" required minlength="2">
    </div>

    <div>
      <label for="last_name"><strong>Last Name</strong> (at least 2 characters)</label>
      <input type="text" id="last_name" name="last_name" required minlength="2">
    </div>


    <div>
      <label for="email"><strong>Enter a Valid Email</strong></label>
      <input type="email" id="email" name="email" required>
    </div>

    <div>
      <label for="vemail"><strong>Confirm Your Email</strong></label>
      <input type="email" id="vemail" name="vemail" required>
    </div>


    <div>
      <button type="submit" class="form-control">Update</button>
    </div>
  </form>
</div>
{% endblock %}
