{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% load static %}
{% block title %}<title>PupsToPet | About PupsToPet</title>{% endblock%}

{% block styles %}

<!-- Bootstrap core CSS -->

<!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

{% endblock %}

{% block navbar %}
{% if user.is_authenticated %}


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PupsToPet</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'createpet' %}">Add a Pet</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'createevent' %}">Add an Event</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'findevent' %}">Search for Specific Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={% url 'about' %}">Logout</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Settings & More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'updateprofile' %}">Update Your Personal Info</a>
          <!--<a class="dropdown-item" href="#">Delete Your Account</a>
          <a class="dropdown-item" href="#">Change Password</a>-->
          <a class="dropdown-item" href="about">About PupsToPet</a>

        </div>
      </li>

    </ul>
  </div>
</nav>




{% else %}


   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PupsToPet</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About PupsToPet</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'createaccount' %}">Create An Account<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'findevent' %}">Find Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

    </ul>
  </div>
</nav>

{% endif %}

{% endblock %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<div id="index-page-content"> <!-- COMMENT: index-page-content is really just the about page-->
    <!-- <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBYB8_cGZklsYTdCQNga90YNrCsX3-NnDE
        &center=42.391138,-72.526812
        &zoom=14
        &maptype=satellite" allowfullscreen>
    </iframe> -->
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: new google.maps.LatLng(42.391138,-72.526812),
                mapTypeId: 'satellite'
                });

            var iconBase = "{% static 'images/' %}";
            // var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
            var icons = {
                pupper: {
                    icon: iconBase + 'pupClipArt.png'
                },
            // 	parking: {
            // 		icon: iconBase + 'parking_lot_maps.png'
            // 	},
            // 	library: {
            // 		icon: iconBase + 'library_maps.png'
            // 	},
            // 	info: {
            // 		icon: iconBase + 'info-i_maps.png'
            // 	}
            };

            // var features = [
            //     {% for event in events %}
            //         {
            //             position: new google.maps.LatLng({{ event.location }}),
            //             type: 'pupper'
            //         },  
            //     {% endfor %}
            // ];
            // Create markers.
            // features.forEach(function(feature) {
            var infowindow = new google.maps.InfoWindow();
            {% for event in events %}
                var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ event.location }}),
                icon: icons['pupper'].icon,
                map: map
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.setContent('<div><strong>' + '{{ event.name }}' + '</strong><br>' + 'Host: ' + '{{ event.host }}' + '<br>Starts:' + '{{ event.start_time }}' + '<br>' + 'Ends:{{ event.end_time }}' + '<br>Description:<br>' + '{{ event.description }}' + '</div>');
                    infowindow.open(map, this);
                });
            {% endfor %}
            // });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQgbR5jdBj36wI9-6SpCOpaBr-Rj14L70&callback=initMap">
    </script>

    <h2>Welcome to PupsToPet!</h2>
    <br>
    <h3>What we do</h3>
    <a href="images/1.jpg"><img src="{% static 'images/1.jpg' %}"></a>
    <p>
        We are a company that loves pets and pet owners alike! We know that a love of pets unites people across any barriers, so we build applications that makes it easier for pet owners share their furry creatures with the public.
    </p>
    <br>
    <h3>How it works</h3>
    <a href="images/2.jpg"><img src="{% static 'images/2.jpg' %}"></a>
    <p>
        Using the map on the dashboard, you can view various events set up by pet owners! From here, you can view where they will be, when they will take place, and which pets will be present.
    </p>
    <p>
        You can also register an account with out app, which will allow you create events and add pets of your own!
    </p>
    <br>
    <h3>Why</h3>
    <a href="images/3.jpg"><img src="{% static 'images/3.jpg' %}"></a>
    <p>
        Pets are an integral part of our everyday lives; pet lovers love to meet new pets, and pet owners love sharing their critters with the world. This website serves to connect the two groups to form a more complete community of pet lovers!
    </p>
    <br>
    <h3>How can you contribute</h3>
    <a href="images/4.jpg"><img src="{% static 'images/4.jpg' %}"></a>
    <p>
        Spread the word about our website! The more people that know about us, the more pets that are shared, and the more pets you get to pet!
    </p>
    <br>
    <h3>Wee!</h3>
    <a href="images/5.jpg"><img src="{% static 'images/5.jpg' %}"></a>
    <p>
        Thank you for visiting our website, and we hoep that you enjoy your time here!
    </p>
</div>
{% endblock %}
