{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Create Account</title>{% endblock %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/thao-style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karma" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a href="{% url 'login' %}">
    <button>
        &#x1F43E; Log In &#x1F43E;
    </button>
</a>
<a href="{% url 'findevent' %}">
    <button>
        &#x1F43E; Find Event &#x1F43E;
    </button>
</a>
<a href="{% url 'dashboard' %}">
    <button>
        &#x1F43E; Dashboard &#x1F43E;
    </button>
</a>
{% endblock %}

{% block content %}
<div style="height:100%" class="designing-forms">
    <form form action="/" method="post" >
        <legend>Account Creation</legend>
        <div>
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="Eddy123" placeholder="...">
        </div>
        <div>
            <label for="first-name">First Name:</label>
            <input type="text" class="form-control" id="first-name" name="first-name" value="Eddy" placeholder="...">
        </div>
        
        <div>
            <label for="last-name">Last Name:</label>
            <input type="text" class="form-control" id="last-name" name="last-name" value="LastNamey" placeholder="...">
        </div>
        
        <div>
            <label for="password">Create Password:</label>
            <input type="password" class="form-control" id="password" name="password" value="fakepassword" placeholder="...">
        </div>
        
        <div>
            <label for="v-password">Verify Password:</label>
            <input type="password" class="form-control" id="v-password" name="v-password" value="fakepassword" placeholder="...">
        </div>
        
        <div>
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" value="eddy1234@college.edu" placeholder="...">
        </div>
        
        <div>
            <label for="email">Verify Email:</label>
            <input type="email" class="form-control" name="v-email" value="eddy1234@college.edu" placeholder="...">
        </div>
        
        <!--Submit button-->
        <div>
            <input type="submit" class="form-control">
      
        <!--Reset button-->

            <input type="reset" class="form-control">
        </div>
    </form>
</div>
{% endblock %}