{% extends "base_generic.html" %}
{% load widget_tweaks %}

{% load static %}
{% block title %}<title>PupsToPet | About PupsToPet</title>{% endblock%}

{% block styles %}

<!-- Bootstrap core CSS -->

<!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<link href="{% static 'css/THAO.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display|Quicksand" rel="stylesheet">


{% endblock %}

{% block navbar %}
{% if user.is_authenticated %}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PupsToPet</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'createpet' %}">Add a Pet</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'createevent' %}">Add an Event</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'findevent' %}">Search for Specific Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewownevents' %}">Your Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}?next={% url 'about' %}">Logout</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account Settings & More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'updateprofile' %}">Update Your Personal Info</a>
          <!--<a class="dropdown-item" href="#">Delete Your Account</a>
          <a class="dropdown-item" href="#">Change Password</a>-->
          <a class="dropdown-item" href="{% url 'about' %}">About PupsToPet</a>

        </div>
      </li>

    </ul>
  </div>
</nav>

{% else %}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PupsToPet</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About PupsToPet</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'createaccount' %}">Create An Account<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="{% url 'findevent' %}">Find Events</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>

    </ul>
  </div>
</nav>

{% endif %}

{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<div class="container">
  <div class="row">
    <div class="col sideone">

      {% if user.is_authenticated %}
      <h2>Howdy {{user.username}}!</h2>
      <div id="personal-information">
        <h2>Your Information:</h2>
        <h6>{{user.get_full_name}}</h6>
        <h6>{{user.email}}</h6>

      </div>
      <div id="pet-information">
        <div>
        <h2>Your Pet Information:</h2>
        <div style="overflow: auto; height:315px">
          <ul>
            {% for dog in dogs %}
            <li>
              <h5>{{dog.name}}</h5>
              <h6>Breed: {{dog.display_breed}}</h6>
              <h6>Age: {{dog.age}}</h6>
              <h6>Size: {{dog.size}}</h6>
              <h6>Service?: {{dog.service}}</h6>
              <h6>Vaccinated?: {{dog.vaccinated}}</h6>
              <h6>Notes?: {{dog.additional_notes}}</h6>

            </li>
            <form action="{% url 'delete_pet' dog.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
            {% endfor %}
          </ul>
        </div>

        <a href="{% url 'createpet' %}">
          <button>
            Add Pet!
          </button>
        </a>
      </div>


      </div> <!--end of Your Pet Information-->

      {% else %}
    <div class="sideone_else">
      <h3>Hello there! </h3>
      <p>We hope you enjoy viewing our site. Create an account today if you want to plan and create pet-related events!</p>
    </div>

      {% endif %}
    </div>

    <div class="col-9 sidetwo">

      <center><h4>Current Events!<h4><p>(click on a pup to get more info about an event)</p></center>

      <div id="page-content">
        <!-- <iframe
        width="80%"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBYB8_cGZklsYTdCQNga90YNrCsX3-NnDE
        &center=42.391138,-72.526812
        &zoom=14
        &maptype=satellite" allowfullscreen>
      </iframe> -->
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQgbR5jdBj36wI9-6SpCOpaBr-Rj14L70&callback=initMap">
    </script>
    <div id="map" style="height: 450px;width: 100%"></div>
    <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: new google.maps.LatLng(42.391138,-72.526812),
        mapTypeId: 'satellite'
      });

      var iconBase = "{% static 'images/' %}";
      // var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
      var icons = {
        pupper: {
          icon: iconBase + 'pupClipArt.png'
        },
        //  parking: {
        //      icon: iconBase + 'parking_lot_maps.png'
        //  },
        //  library: {
        //      icon: iconBase + 'library_maps.png'
        //  },
        //  info: {
        //      icon: iconBase + 'info-i_maps.png'
        //  }
      };

      // var features = [
      //     {% for event in events %}
      //         {
      //             position: new google.maps.LatLng({{ event.location }}),
      //             type: 'pupper'
      //         },
      //     {% endfor %}
      // ];
      // Create markers.
      // features.forEach(function(feature) {
      var infowindow = new google.maps.InfoWindow();
      {% for event in events %}
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng({{ event.location }}),
        icon: icons['pupper'].icon,
        map: map
      });
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent('<div><strong>' + '{{ event.name }}' + '</strong><br>' + 'Host: ' + '{{ event.host }}' + '<br>Starts:' + '{{ event.start_time }}' + '<br>' + 'Ends:{{ event.end_time }}' + '<br>Description:<br>' + '{{ event.description }}' + '</div>');
        infowindow.open(map, this);
      });
      {% endfor %}
      // });
    }
  </script>
</div>
</div> <!--End of map div-->
</div><!--End div row-->
</div> <!--End div container-->

<div class="container">
<div class="row">
  <div class="col sidethree">
    <br>
    <br>
    <center>
    <h1>(All events are listed Below. If you don't want to scroll through it all, use the search option in the navigation bar)</h1>
    <div style="overflow: auto; height:300px; width:100%">
    <div style="padding-top:10px;padding-left:5px">
      <h2>Event Information</h2>
      {% for eve in events %}
      <div style="border: 3px solid #BEE5BF;margin: 10px;width: 100%;background-color: #DAFFEF;;">
        <h3><strong>{{eve.id}}</strong></h3>
        <p><strong>Name: </strong>{{eve.name}}</p>
        <p><strong>Host: </strong>{{eve.host}}</p>
        <p><strong>Description: </strong>{{eve.description}}</p>
        <p><strong>Time: </strong>{{eve.start_time}} - {{eve.end_time}}</p>
        <p><strong>Location: </strong>{{eve.location}}</p>
        <br>
      </div>
      {% endfor %}
    </div>
  </div><!--End div scroll bar-->
</center>
</div>
</div>
</div>




{% endblock %}
