{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Forgot Password</title>{% endblock %}

{% block navbar %}
<a href="{% url 'login' %}">
    <button>
        &#x1F43E; Log In &#x1F43E;
    </button>
</a>
<a href="{% url 'createaccount' %}">
    <button>
        &#x1F43E; Create Account &#x1F43E;
    </button>
</a>
<a href="{% url 'findevent' %}">
    <button>
        &#x1F43E; Find Event &#x1F43E;
    </button>
</a>
<a href="{% url 'dashboard' %}">
    <button>
        &#x1F43E; Dashboard &#x1F43E;
    </button>
</a>
{% endblock %}

{% block content %}
<div class="login-modal">
    <h1>Forgot Password</h1>
    <form>
        <h3>Enter your username</h3>
        <div>
            <input type="text" class="form-control" name="username" value="Eddy123" placeholder="...">
        </div>
        <h3>and email address!</h3>

        <div>
            <input type="text" class="form-control" name="email address" value="ejensen@umass.edu" placeholder="...">
        </div>
        
        <p>Your password will arrive in a few minutes. Look for it in your inbox!</p>

        <div>
            <button type="submit" class="form-control">Submit!</button>
        </div>
    </form>

    <a href="{% url 'login' %}">
        <h4>&#8592;Back to login page</h4>
    </a>

</div>
{% endblock %}