{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | User Info</title>{% endblock %}

{% block styles %}
<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/thao-style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karma" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a href="{% url 'logout' %}?next={% url 'about' %}">
  <button>
    &#x1F43E; Log Out &#x1F43E;
  </button>
</a>
<a href="{% url 'createevent' %}">
  <button>
    &#x1F43E; Create Event &#x1F43E;
  </button>
</a>
<a href="{% url 'findevent' %}">
  <button>
    &#x1F43E; Find Event &#x1F43E;
  </button>
</a>
<a href="{% url 'dashboard' %}">
  <button>
    &#x1F43E; Dashboard &#x1F43E;
  </button>
</a>
{% endblock %}

{% block content %}
<div id="update-user-info-page">
  <div class="login-modal" style="height:100%; width:70%">
	
  <form action="" method="post">
    {% csrf_token %}	  
    <h1>User Information</h1>
    <table>
    	{{ form }}
    </table>

      <button type="submit" class="form-control">Update</button>
  </form>
  </div>
</div>
{% endblock %}





