input {
    width: 400px;
}

#login-modal {
    background-color: rgb(142, 165, 239);
	height: 480px;
}

h2{
    text-align: left;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; 
        text-align: right;
    }
input { display: table-cell; }