.designing-forms {
    max-width: 85%;
    padding: 100px;
<<<<<<< HEAD
    padding-top: 110px;
=======
>>>>>>> 96b3c63c3399d6a63ea79f345c466800dbb69719
    margin: 20px 225px 0px 225px;
    position: sticky;
    background-color: white;
}

input {
    margin: 0px;        
<<<<<<< HEAD
=======

>>>>>>> 96b3c63c3399d6a63ea79f345c466800dbb69719
}

div {
    padding: 10px;
}

body legend{
    font-size: 25px;
}

body {
    font-family: 'Karma', serif;
    font-size: 17px;
<<<<<<< HEAD
    
}

nav {
    font-family: 'Fredericka the Great', cursive;
}

nav h1 {

    font-family: 'Fredericka the Great', cursive;

}
=======
}
>>>>>>> 96b3c63c3399d6a63ea79f345c466800dbb69719
