/*   update_profile_info page    */

.updateinfo{
  font-family: 'Playfair Display', serif;
  border: 2px solid #DCCDE8;
  padding: 50px;
  background: #FDFFFC;

}

.updateinfo p{
  font-family: 'Quicksand', sans-serif;

}

.buttonupdate{
  font-family: 'Quicksand', sans-serif;
}
.updateinfo h1{
  text-decoration: underline;

}

.createevent {
  font-family: 'Playfair Display', serif;
  border: 4px outset #BEE5BF;
  padding: 50px;
  background: #F7F7FF;


}

.createevent h1 {
  text-decoration: underline;
  text-align: center;
}

.createpet {
  font-family: 'Playfair Display', serif;
  border: 4px outset #C2BBF0;
  padding: 50px;
  background: #FEFCFD;
}

.createpet h1 {
  text-decoration: underline;
  text-align: center;
  padding-bottom: 15px;

}

.createpet input {
  font-family: 'Quicksand', sans-serif;

}

.viewownevents {
  font-family: 'Playfair Display', serif;
  border: 2px solid #BEE5BF;
  padding: 10px;
  background: #FEFCFD;

}

.scroll {
  width: 100%;
  height: 800px;
  overflow: scroll

}

.orientviewevents{
padding-bottom: 50px;
padding-left: 50px;
padding-right: 50px;

}

.orientviewevents h1 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}
