{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Create Account</title>{% endblock %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/thao-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/validation.css' %}">
    
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karma" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a href="{% url 'login' %}?next={% url 'dashboard' %}">
    <button>
        &#x1F43E; Log In &#x1F43E;
    </button>
</a>
<a href="{% url 'findevent' %}">
    <button>
        &#x1F43E; Find Event &#x1F43E;
    </button>
</a>
<a href="{% url 'dashboard' %}">
    <button>
        &#x1F43E; Dashboard &#x1F43E;
    </button>
</a>
{% endblock %}

{% block content %}
<div style="height:100%" class="designing-forms">
    <form form action="/" method="post" >
        <legend>Account Creation</legend>
        <div>
            <label for="usrname">Create a username:</label>
            <input id="usrname" name="usrname" required minlength="6" maxlength="12" pattern="[A-Za-z]">
        </div>
        <div>
            <label for="firstname">First Name:</label>
            <input id="firstname" name="fname" required minlength="2" maxlength="25">
        </div>
        
        <div>
            <label for="lastname">Last Name:</label>
            <input id="lastname" name="lname" required minlength="2" maxlength="25">
        </div>
        
        <div>
            <label for="createpassword">Create Password:</label>
            <input id="createpassword" name="createpassword" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
        </div>
        
        <div>
            <label for="confirmpassword">Confirm Password:</label>
            <input id="confirmpassword" name="confirmpassword" required >
        </div>
        
        <div>
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" value="eddy1234@college.edu" placeholder="...">
        </div>
        
        <div>
            <label for="email">Verify Email:</label>
            <input type="email" class="form-control" name="v-email" value="eddy1234@college.edu" placeholder="...">
        </div>
        
        <!--Submit button-->
        <div>
            <input type="submit" class="form-control">
      
        <!--Reset button-->

            <input type="reset" class="form-control">
        </div>
    </form>
</div>

<script src="myScript.js"></script>

{% endblock %}
