{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Find Event</title>{% endblock %}

{% block navbar %}
<a href="{% url 'index' %}">
    <button>
        &#x1F43E; Log Out &#x1F43E;
    </button>
</a>
<a href="{% url 'userinfo' %}">
    <button>
        &#x1F43E; Account Settings &#x1F43E;
    </button>
</a>
<a href="{% url 'createevent' %}">
    <button>
        &#x1F43E; Create Event &#x1F43E;
    </button>
</a>
<a href="{% url 'dashboard' %}">
    <button>
        &#x1F43E; Dashboard &#x1F43E;
    </button>
</a>
{% endblock %}

{% block content %}
<div class="login-modal" style="height:100%">
    <h1>Find Event</h1>
    <form>
        <h3>Event Location:</h3>
        <input class="form-group" type="text" name="location" value="UMASS, Amherst"><br>
        <h3>Time:</h3>
        Earliest time (mm/dd/yyyy, hh:mm):
        <select>
            <option>01</option>
            <option>02</option>
        </select>/<select>
            <option>01</option>
            <option>02</option>
        </select>/<select>
            <option>一年</option>
            <option>二年</option>
        </select>,
        <select>
            <option>00</option>
            <option>01</option>
        </select>:<select>
            <option>00</option>
            <option>01</option>
        </select><br>
        Latest time (mm/dd/yyyy, hh:mm):
        <select>
            <option>01</option>
            <option>02</option>
        </select>/<select>
            <option>01</option>
            <option>02</option>
        </select>/<select>
            <option>一年</option>
            <option>二年</option>
        </select>,
        <select>
            <option>00</option>
            <option>01</option>
        </select>:<select>
            <option>00</option>
            <option>01</option>
        </select><br>
        <!-- <h3>Type:</h3>
        <input type="text" name="type"><br> -->
        <h3 style="display:inline">Size:</h3>
            <select>
                <!--<option>N/A</option> Uncomment later-->
                <option>small</option>
                <option>medium</option>
                <option>large</option>
            </select><br>
        <h3 style="display:inline">Sex:</h3>
            <select>
                <!--<option>N/A</option> Uncomment later-->
                <option>male</option>
                <option>female</option>
            </select><br>
        <div>
            <Button>Submit</Button>
        </div>
    </form>
</div>
{% endblock %}