{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Testing Page</title>{% endblock %}

{% block content %}
    <div style="padding-top:100px;padding-left:5px">
        {% for eve in events %}
              <h3><strong>{{eve.id}}</strong></h3>
              <p><strong>Host: </strong>{{eve.host}}</p>
              <p><strong>Pets: </strong>{{eve.pets}}</p>
              <p><strong>Time: </strong>{{eve.startTime}} - {{eve.endTime}}</p>
              <p><strong>Location: </strong>{{eve.loc}}</p>
              <br>
        {% endfor %}
    </div>
{% endblock %}