{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>PupsToPet | Login</title>{% endblock %}

{% block styles %}
<!-- Bootstrap CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/thao-style.css' %}">
<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Karma" rel="stylesheet">
{% endblock %}

{% block navbar %}
<a href="{% url 'createaccount' %}">
    <button>
        &#x1F43E; Create Account &#x1F43E;
    </button>
</a>
<a href="{% url 'findevent' %}">
    <button>
        &#x1F43E; Find Event &#x1F43E;
    </button>
</a>
<a href="{% url 'dashboard' %}">
    <button>
        &#x1F43E; Dashboard &#x1F43E;
    </button>
</a>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div id="login-page">
	<div class="login-modal" style="height:100%">
		<h1>Login</h1>
		<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
            <div>
                <h3>{{ form.username.label_tag }}</h3>
                <td>{{ form.username }}</td>
                <!-- <input type="text" class="form-control" id="username" name="username" value="Harold12345" placeholder="..."> -->
            </div>
            <div>        
                <h3>{{ form.password.label_tag }}</h3>
                <td>{{ form.password }}</td>
                <!-- <input type="password" class="form-control" id="password" name="password" value="fakepassword" placeholder="..."> -->
            </div>
            <div>
                <!-- <button>Submit</button> -->
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        
            <br>
            <a href="{% url 'forgotpassword' %}">
                <h4>Forgot Password?</h4>
            </a>
            
<!--
            <a href="{% url 'dashboard' %}">
                <h4>&#8592;Back to main page</h4>
            </a>
-->

        </form>
    </div>
</div>
{% endblock %}